.tourist-guest-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .guest-home-content {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .intro-section {
    margin-top: 40px;
  }
  
  .explore-options {
    margin-top: 30px;
  }
  
  .explore-button,
  .book-now-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff683c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .explore-button:hover,
  .book-now-button:hover {
    background-color: #577b98;
  }
  